h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: white;
}

h3 {
    color: white;
}

h3.terminal {
    font: 1.3rem Inconsolata, monospace;
}

h3.center {
    text-align: center;
    color: white;
}

h4 {
    color: white;
}

body {
    background-color: black;
}

p {
    color: white;
}

b {
    color: #2a7bff;
}

subtitle {
    text-emphasis-color: white;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}